.page-title {
    background: #222;
    color: #fff;
    text-align: left;
    padding: 200px 120px 28px 60px;
    border-radius: 0;
    margin-top: -160px;
    margin-bottom: 18px;
    box-shadow: 0 4px 16px -4px #0003;
}

.page-title h1 {
    font-size: 3rem;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1.5px;
    color: #fff;
}